
<body>
<style>
    #content_container{
    float: left;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

    #sub_nav{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100%;
}

#content{
    width: 100%;
    text-align: center;

}
.div1 {
    height: 200px;
    border: 2px solid blue;
    background-color: #20c997;
    box-sizing: border-box;
}

.div2 {

    border: 2px solid red;
    background-color: #ffc107;
    box-sizing: border-box;
     height: 400px;
}
.div3 {

    border: 2px solid blue;
    background-color: lightblue;
    box-sizing: border-box;
     height: 400px;
}

.div4 {

    border: 2px solid red;
    background-color: lightgoldenrodyellow;
    box-sizing: border-box;
     height: 400px;
}
.div5 {

    border: 2px solid blue;
    background-color: lightslategrey;
    box-sizing: border-box;
     height: 400px;
}

.div6 {

    border: 2px solid red;
    background-color: lightcyan;
    box-sizing: border-box;
     height: 400px;
}
.div7 {

    border: 2px solid blue;
    background-color: darkgreen;
    box-sizing: border-box;
     height: 200px;
}

</style>
<div>
    <div id=content class="div1">
        <h1> Sunday </h1>
        <p> Rockabilly Til Night -- too HOT for Weekdays.</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>
    </div>
    <div id=content class="div2">
        <h1> Monday </h1>
        <h3> LIVE: The Poetry Show, 7 AM Eastern  </h3>
        <p> Smooth Jazz -- very  smooth</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>
        Podcasts
        <ul>
            The Enlighten Radio Storytelling Hour, 5 - 6 PM Eastern
        </ul>
        <ul>
            The Winners and Losers Podcasts, 6 - 7 PM Eastern
        </ul>
    </div>
    <div id=content class="div3">
        <h1> Tuesday </h1>
        <h3> LIVE: The Labor Beat Show, 7:30 AM Eastern  </h3>
        <p> The Blues and Roots til Night.</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>
       Podcasts
        <ul>
            The Enlighten Radio Storytelling Hour, 5 - 6 PM Eastern
        </ul>
        <ul>
            The Winners and Losers Podcasts, 6 - 7 PM Eastern
        </ul>
    </div>
    <div id=content class="div4">
        <h1> Wednesday </h1>
        <h3> LIVE: The Sports Attack Show, 7 AM Eastern  </h3>
        <p> Bluegrass Old and New til Night.</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>
        Podcasts
        <ul>
            The Enlighten Radio Storytelling Hour, 5 - 6 PM Eastern
        </ul>
        <ul>
            The Winners and Losers Podcasts, 6 - 7 PM Eastern
        </ul>

    </div>
    <div id=content class="div5">
        <h1> Thursday </h1>
        <h3> LIVE: The Recovery Show, 7 AM Eastern  </h3>
        <p> Rock and Roll til Night.</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>
        Podcasts
        <ul>
            The Enlighten Radio Storytelling Hour, 5 - 6 PM Eastern
        </ul>
        <ul>
            The Winners and Losers Podcasts, 6 - 7 PM Eastern
        </ul>
    </div>
    <div id=content class="div6">
        <h1> Friday </h1>
        <h3> LIVE: The Winners and Losers Radio Program, 7 AM Eastern  </h3>
        <p> Jazz til Night.</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>
        Podcasts
        <ul>
            The Enlighten Radio Storytelling Hour, 5 - 6 PM Eastern
        </ul>
        <ul>
            The Winners and Losers Podcasts, 6 - 7 PM Eastern
        </ul>
    </div>
    <div id=content class="div7">
        <h1> Saturday </h1>
        <p> Country til Night</p>
        <p> Old Time Radio Till Morn -- in case you can't sleep. </p>

    </div>
</div>

</body>