
<h3 style="text-align: center;">{{ props['heading'] }}</h3>
<br/>
<div class="separator" style="clear: both; text-align: center;">
    <a href={{ props['imagelink'] }} imageanchor="1" style="margin-left: 1em; margin-right: 1em;">
        <img border="2"
             data-original-height={{ props['height'] }}
             data-original-width={{ props['width'] }}
             height={{ props['height'] }}

             width={{ props['width'] }}
             src={{ props['imagelink'] }}
        />
    </a>
</div>

<style>
    .ex2 { text-align:left; padding:5px; font-size: 1em; color:black; float: left }
</style>
<div style="text-align: center;">


        <h3>About</h3>
     <p>
         {{ props['about'] }}
    </p>


</div>
{% for s in summaries %}
<section >
    <div style="text-align: center;">

        <h2>
            <a href={{ s.url }}>{{ s.title }}</a>

        </h2>
        <h3>
            <span style="font-family: trebuchet,serif;">
            {{ s.author }}
            </span>

        </h3>
        <h4>
            <span style="font-family: trebuchet,serif;">
           This article was originally published:  {{ s.getOrigPublishedSTR() }}
            </span>
        </h4>

    </div>
    <div class="ex2" style="font-family: 'Trebuchet MS',serif;">
        {{ s.txt }}
    </div>

</section>
    <hr class="hr" />
{% endfor %}



